<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>审核通知</title>
</head>
<body>

<h2>会议室申请审核通知</h2>
<span style="font-weight: bold;font-size: 20px" th:text="${result}"></span>
<br>
<span th:if="${rejectReason!=null}">驳回理由:</span><span style="font-weight: bold" th:text="${rejectReason}"></span>
<br th:if="${rejectReason!=null}">
<span>会议主题：</span><span style="font-weight: bold" th:text="${theme}"></span>
<br>
<span>申请时间：</span><span style="font-weight: bold" th:text="${applyTime}"></span>
<br>
<span>会议室：</span><span style="font-weight: bold" th:text="${roomFloor}"></span><span>层 </span><span style="font-weight: bold" th:text="${roomNo}"></span>
<br>
<span>会议时间：</span><span style="font-weight: bold" th:text="${startTime}"></span><span>--</span><span  style="font-weight: bold" th:text="${endTime}"></span>

</body>
</html>